In [1]:
import pandas as pd
import sqlite3

In [2]:
path = 'C:/my_workspace/Github/MentalHealth_SQL_Project/data/'
health = pd.read_csv(path + 'mental_health.csv')

In [3]:
conn = sqlite3.connect('PandoraDB.db')
health.to_sql('health', conn, index=False, if_exists='replace')

286

In [4]:
query = "SELECT * FROM health;"
resultado = pd.read_sql_query(query, conn)
resultado

,inter_dom,Region,Gender,Academic,Age,Age_cate,Stay,Stay_Cate,Japanese,Japanese_cate,...,Friends_bi,Parents_bi,Relative_bi,Professional_bi,Phone_bi,Doctor_bi,religion_bi,Alone_bi,Others_bi,Internet_bi
0,Inter,SEA,Male,Grad,24.0,4.0,5.0,Long,3.0,Average,...,Yes,Yes,No,No,No,No,No,No,No,No
1,Inter,SEA,Male,Grad,28.0,5.0,1.0,Short,4.0,High,...,Yes,Yes,No,No,No,No,No,No,No,No
2,Inter,SEA,Male,Grad,25.0,4.0,6.0,Long,4.0,High,...,No,No,No,No,No,No,No,No,No,No
3,Inter,EA,Female,Grad,29.0,5.0,1.0,Short,2.0,Low,...,Yes,Yes,Yes,Yes,No,No,No,No,No,No
4,Inter,EA,Female,Grad,28.0,5.0,1.0,Short,1.0,Low,...,Yes,Yes,No,Yes,No,Yes,Yes,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,None,None,None,None,NaN,NaN,NaN,None,NaN,None,...,222,None,None,None,None,None,None,None,None,None
282,None,None,None,None,NaN,NaN,NaN,None,NaN,None,...,249,None,None,None,None,None,None,None,None,None
283,None,None,None,None,NaN,NaN,NaN,None,NaN,None,...,203,None,None,None,None,None,None,None,None,None
284,None,None,None,None,NaN,NaN,NaN,None,NaN,None,...,247,None,None,None,None,None,None,None,None,None
285,None,None,None,None,NaN,NaN,NaN,None,NaN,None,...,223,None,None,None,None,None,None,None,None,None

In [13]:
query = "SELECT Gender, Age \
        FROM health \
        WHERE inter_dom = 'Inter' \
        GROUP BY Gender \
        ORDER BY Age DESC;"

resultado = pd.read_sql_query(query, conn)
resultado

   Gender   Age
0  Female  29.0
1    Male  24.0

In [12]:
query = "SELECT Gender, AVG(Age) AS Avg, COUNT (Age) AS count \
        FROM health \
        WHERE inter_dom = 'Inter' \
        GROUP BY Gender \
        ORDER BY Age DESC;"

resultado = pd.read_sql_query(query, conn)
resultado

   Gender        Avg  count
0  Female  20.789062    128
1    Male  21.452055     73